/2 ..jpg
/2.jpg
/3.jpg
/ass2.py
/Book1.xlsx
/book_ena.pdf
/Final Lecture - Nelder Mead Example and Gradient Descent.pdf
/HW1.docx
/HW1.pdf
/HW4.docx
/inter.py
/Lecture 10.pdf
/Lecture 11-12-13.pdf
/Lecture 14.pdf
/Lecture 15-16.pdf
/Lecture 17-20.pdf
/Lecture 2 (1).pdf
/Lecture 3 (1).pdf
/Lecture 4 (1).pdf
/Lecture 5.pdf
/Lecture 6.pdf
/Lecture 8.pdf
/Lecture 9.pdf
/mathbookIMPORTANT.pdf
/Monte carlo simulation.pdf
/Nelder Mead.pdf
/NM
/NM files
/NM files.zip
/Readme.txt
/SrishtiMadanRaikar_1002033348.docx
/SrishtiMadanRaikar_1002033348.pdf
/SrishtiMadanRaikar_1002033348.txt
/SrishtiMadanRaikar_1002033348_assignment2.pdf